<div class="results-stock-block">
  <%= render 'devise/shared/messages'  %>
</div>
<% if @stock %>
  <div class="card card-header results-stock-block">
    <strong>Symbol: </strong> <%= @stock.ticker %>
    <strong>Name: </strong><%= @stock.name %>
    <strong>Price: </strong><%= @stock.last_price %>
  </div>
<% end %>